{% block copyright %}
<div class="md-copyright">
  Copyright © 2021 Fernando Basso
  | Text licensed under
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
  and code licensed under
  <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>
</div>
{% endblock %}
